# Data cleaning and feature engineering

In [2]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
# read the dataframe 
df = pd.read_csv('~/Desktop/OmdenaMLops/A4_Solar_Energy_Project/Data/Casablanca_Morocco_Solcast_PT60M.csv')

In [4]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [5]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [6]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
11535,2020-04-24T17:00:00Z,2020-04-24T16:00:00Z,19.3,275,0,275,23.6,72.1,998.1,286,7.0
2899,2019-04-30T21:00:00Z,2019-04-30T20:00:00Z,19.5,0,0,0,17.5,75.3,992.3,15,4.7
1281,2019-02-22T11:00:00Z,2019-02-22T10:00:00Z,18.0,111,808,579,10.9,53.4,1006.5,114,3.2
9287,2020-01-22T01:00:00Z,2020-01-22T00:00:00Z,10.1,0,0,0,15.2,77.2,1003.6,195,2.1
4272,2019-06-27T02:00:00Z,2019-06-27T01:00:00Z,19.8,0,0,0,35.6,88.1,1007.5,14,2.8
5325,2019-08-09T23:00:00Z,2019-08-09T22:00:00Z,21.4,0,0,0,30.1,86.2,1009.5,26,2.9
14676,2020-09-02T14:00:00Z,2020-09-02T13:00:00Z,25.2,143,852,884,18.7,55.6,1003.2,347,4.6
10092,2020-02-24T14:00:00Z,2020-02-24T13:00:00Z,22.8,145,825,728,9.4,38.4,1016.3,288,3.3
1406,2019-02-27T16:00:00Z,2019-02-27T15:00:00Z,19.0,146,661,497,11.0,59.9,1006.2,348,4.0
6711,2019-10-06T17:00:00Z,2019-10-06T16:00:00Z,22.3,63,685,293,14.1,71.1,1007.1,13,4.7

In [7]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [8]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,10.3,0,0,0,13.2,86.8,1004.0,70,2.6
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,10.1,0,0,0,13.0,86.4,1004.2,78,2.5
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,9.8,0,0,0,12.8,86.1,1004.2,87,2.5
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,9.3,0,0,0,12.6,85.9,1004.1,96,2.5
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,8.8,0,0,0,12.3,85.7,1004.1,105,2.5

In [9]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26229 entries, 0 to 26228
Data columns (total 11 columns):
PeriodEnd        26229 non-null object
PeriodStart      26229 non-null object
Temperature      26229 non-null float64
DHI              26229 non-null int64
DNI              26229 non-null int64
Radiation        26229 non-null int64
Precipitation    26229 non-null float64
Humidity         26229 non-null float64
Pressure         26229 non-null float64
WindDirection    26229 non-null int64
WindSpeed        26229 non-null float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [10]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1172: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  "will drop timezone information.", UserWarning)

In [11]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26229 entries, 0 to 26228
Data columns (total 11 columns):
PeriodEnd        26229 non-null datetime64[ns]
PeriodStart      26229 non-null datetime64[ns]
Temperature      26229 non-null float64
DHI              26229 non-null int64
DNI              26229 non-null int64
Radiation        26229 non-null float64
Precipitation    26229 non-null float64
Humidity         26229 non-null int32
Pressure         26229 non-null float64
WindDirection    26229 non-null float64
WindSpeed        26229 non-null float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 2.1 MB

In [12]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,10.3,0,0,0.0,13.2,86,1004.0,70.0,2.6
1,2018-12-31 03:00:00,2018-12-31 02:00:00,10.1,0,0,0.0,13.0,86,1004.2,78.0,2.5
2,2018-12-31 04:00:00,2018-12-31 03:00:00,9.8,0,0,0.0,12.8,86,1004.2,87.0,2.5
3,2018-12-31 05:00:00,2018-12-31 04:00:00,9.3,0,0,0.0,12.6,85,1004.1,96.0,2.5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,8.8,0,0,0.0,12.3,85,1004.1,105.0,2.5
5,2018-12-31 07:00:00,2018-12-31 06:00:00,8.8,0,0,0.0,12.1,84,1004.4,112.0,2.6

In [13]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [14]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,10.3,0,0,0.0,13.2,86,1004.0,70.0,2.6,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,10.1,0,0,0.0,13.0,86,1004.2,78.0,2.5,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,9.8,0,0,0.0,12.8,86,1004.2,87.0,2.5,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,9.3,0,0,0.0,12.6,85,1004.1,96.0,2.5,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,8.8,0,0,0.0,12.3,85,1004.1,105.0,2.5,2018,2018,12,12,5,6

In [15]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [16]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2018-12-31 02:00:00,2018-12-31 01:00:00,10.3,0,0,0.0,13.2,86,1004.0,70.0,2.6,2018,2018,12,12,1,2,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,10.1,0,0,0.0,13.0,86,1004.2,78.0,2.5,2018,2018,12,12,2,3,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,9.8,0,0,0.0,12.8,86,1004.2,87.0,2.5,2018,2018,12,12,3,4,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,9.3,0,0,0.0,12.6,85,1004.1,96.0,2.5,2018,2018,12,12,4,5,0
4,2018-12-31 06:00:00,2018-12-31 05:00:00,8.8,0,0,0.0,12.3,85,1004.1,105.0,2.5,2018,2018,12,12,5,6,0

In [17]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [18]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [19]:
df.Sunset.unique()

array([0, '18:00:00', '19:00:00'], dtype=object)

In [20]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26229 entries, 0 to 26228
Data columns (total 19 columns):
PeriodEnd        26229 non-null datetime64[ns]
PeriodStart      26229 non-null datetime64[ns]
Temperature      26229 non-null float64
DHI              26229 non-null int64
DNI              26229 non-null int64
Radiation        26229 non-null float64
Precipitation    26229 non-null float64
Humidity         26229 non-null int32
Pressure         26229 non-null float64
WindDirection    26229 non-null float64
WindSpeed        26229 non-null float64
YearPS           26229 non-null int64
YearPE           26229 non-null int64
MonthPS          26229 non-null int64
MonthPE          26229 non-null int64
HourPS           26229 non-null int64
HourPE           26229 non-null int64
Sunrise          26229 non-null object
Sunset           26229 non-null object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 3.7+ MB

In [21]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [22]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14160 entries, 6 to 26224
Data columns (total 19 columns):
PeriodEnd        14160 non-null datetime64[ns]
PeriodStart      14160 non-null datetime64[ns]
Temperature      14160 non-null float64
DHI              14160 non-null int64
DNI              14160 non-null int64
Radiation        14160 non-null float64
Precipitation    14160 non-null float64
Humidity         14160 non-null int32
Pressure         14160 non-null float64
WindDirection    14160 non-null float64
WindSpeed        14160 non-null float64
YearPS           14160 non-null int64
YearPE           14160 non-null int64
MonthPS          14160 non-null int64
MonthPE          14160 non-null int64
HourPS           14160 non-null int64
HourPE           14160 non-null int64
Sunrise          14160 non-null object
Sunset           14160 non-null object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 2.1+ MB

In [23]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
3055,2019-05-07 09:00:00,2019-05-07 08:00:00,17.1,110,741,532.0,16.3,77,999.8,40.0,2.1,2019,2019,5,5,8,9,0,0
21064,2021-05-26 18:00:00,2021-05-26 17:00:00,21.5,109,0,109.0,28.8,66,1002.6,344.0,1.5,2021,2021,5,5,17,18,0,18:00:00
4399,2019-07-02 09:00:00,2019-07-02 08:00:00,20.0,316,142,407.0,15.7,68,1007.3,318.0,2.5,2019,2019,7,7,8,9,0,0
15543,2020-10-08 17:00:00,2020-10-08 16:00:00,24.3,68,617,266.0,23.4,59,1007.5,318.0,3.4,2020,2020,10,10,16,17,0,0
4744,2019-07-16 18:00:00,2019-07-16 17:00:00,21.9,194,0,194.0,17.8,73,1005.2,347.0,4.1,2019,2019,7,7,17,18,0,18:00:00
15605,2020-10-11 07:00:00,2020-10-11 06:00:00,19.1,5,0,5.0,20.5,90,1008.3,293.0,0.5,2020,2020,10,10,6,7,0,0
19186,2021-03-09 12:00:00,2021-03-09 11:00:00,14.5,380,0,380.0,11.1,59,1008.5,333.0,4.0,2021,2021,3,3,11,12,0,0
12253,2020-05-24 15:00:00,2020-05-24 14:00:00,29.2,101,901,878.0,18.0,35,1006.6,350.0,4.6,2020,2020,5,5,14,15,0,0
62,2019-01-02 16:00:00,2019-01-02 15:00:00,16.1,68,713,307.0,10.2,67,1007.5,340.0,2.2,2019,2019,1,1,15,16,0,0
24055,2021-09-28 09:00:00,2021-09-28 08:00:00,21.2,93,682,389.0,16.6,72,1012.1,342.0,1.3,2021,2021,9,9,8,9,0,0

In [24]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [26]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 08:00:00,2018-12-31 07:00:00,9.1,4,42,8.0,11.9,81,1005.0,119.0,2.7,2018,2018,12,12,7,8,0,0,2018-12-31
2018-12-31,2018-12-31 09:00:00,2018-12-31 08:00:00,9.5,37,519,125.0,11.6,79,1005.6,124.0,2.9,2018,2018,12,12,8,9,0,0,2018-12-31
2018-12-31,2018-12-31 10:00:00,2018-12-31 09:00:00,10.9,57,745,295.0,11.4,75,1006.0,125.0,2.7,2018,2018,12,12,9,10,0,0,2018-12-31
2018-12-31,2018-12-31 11:00:00,2018-12-31 10:00:00,13.3,67,840,437.0,11.3,71,1006.0,119.0,2.3,2018,2018,12,12,10,11,0,0,2018-12-31
2018-12-31,2018-12-31 12:00:00,2018-12-31 11:00:00,15.7,84,851,525.0,11.2,66,1006.1,111.0,1.9,2018,2018,12,12,11,12,0,0,2018-12-31

In [28]:
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14160 entries, 2018-12-31 to 2021-12-27
Data columns (total 20 columns):
PeriodEnd        14160 non-null datetime64[ns]
PeriodStart      14160 non-null datetime64[ns]
Temperature      14160 non-null float64
DHI              14160 non-null int64
DNI              14160 non-null int64
Radiation        14160 non-null float64
Precipitation    14160 non-null float64
Humidity         14160 non-null int32
Pressure         14160 non-null float64
WindDirection    14160 non-null float64
WindSpeed        14160 non-null float64
YearPS           14160 non-null int64
YearPE           14160 non-null int64
MonthPS          14160 non-null int64
MonthPE          14160 non-null int64
HourPS           14160 non-null int64
HourPE           14160 non-null int64
Sunrise          14160 non-null object
Sunset           14160 non-null object
Date             14160 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(8), object(2)
memory usage: 2.2+ MB

In [29]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [30]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14160 entries, 2018-12-31 to 2021-12-27
Data columns (total 29 columns):
PeriodEnd          14160 non-null datetime64[ns]
PeriodStart        14160 non-null datetime64[ns]
Temperature        14160 non-null float64
DHI                14160 non-null int64
DNI                14160 non-null int64
Radiation          14160 non-null float64
Precipitation      14160 non-null float64
Humidity           14160 non-null int32
Pressure           14160 non-null float64
WindDirection      14160 non-null float64
WindSpeed          14160 non-null float64
YearPS             14160 non-null int64
YearPE             14160 non-null int64
MonthPS            14160 non-null int64
MonthPE            14160 non-null int64
HourPS             14160 non-null int64
HourPE             14160 non-null int64
Sunrise            14160 non-null object
Sunset             14160 non-null object
Date               14160 non-null datetime64[ns]
Daily_radiation    14160 non-null float64
Daily_DNI          14160 non-null float64
Daily_DHI          14160 non-null float64
Daily_Temp         14160 non-null float64
Daily_Precip       14160 non-null float64
Daily_Humidity     14160 non-null float64
Daily_Pressure     14160 non-null float64
Daily_WindDir      14160 non-null float64
Daily_WindSpeed    14160 non-null float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(8), object(2)
memory usage: 3.5+ MB

In [31]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [32]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 08:00:00,9.1,4,42,8.0,11.9,81,1005.0,119.0,2.7,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 09:00:00,9.5,37,519,125.0,11.6,79,1005.6,124.0,2.9,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 10:00:00,10.9,57,745,295.0,11.4,75,1006.0,125.0,2.7,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 11:00:00,13.3,67,840,437.0,11.3,71,1006.0,119.0,2.3,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 12:00:00,15.7,84,851,525.0,11.2,66,1006.1,111.0,1.9,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 13:00:00,17.2,100,828,553.0,11.1,63,1006.0,101.0,1.5,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 14:00:00,17.6,71,892,537.0,11.1,60,1005.7,86.0,1.2,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 15:00:00,18.1,67,850,448.0,11.1,57,1005.5,62.0,1.0,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 16:00:00,17.7,84,628,293.0,11.0,58,1005.5,42.0,1.2,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2018-12-31,2018-12-31 17:00:00,16.6,66,331,122.0,10.9,63,1005.8,36.0,1.7,...,2018-12-31,305.0,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364

In [34]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14160 entries, 2018-12-31 to 2021-12-27
Data columns (total 21 columns):
PeriodEnd          14160 non-null datetime64[ns]
Temperature        14160 non-null float64
DHI                14160 non-null int64
DNI                14160 non-null int64
Radiation          14160 non-null float64
Precipitation      14160 non-null float64
Humidity           14160 non-null int32
Pressure           14160 non-null float64
WindDirection      14160 non-null float64
WindSpeed          14160 non-null float64
MonthPE            14160 non-null int64
Date               14160 non-null datetime64[ns]
Daily_radiation    14160 non-null float64
Daily_DNI          14160 non-null float64
Daily_DHI          14160 non-null float64
Daily_Temp         14160 non-null float64
Daily_Precip       14160 non-null float64
Daily_Humidity     14160 non-null float64
Daily_Pressure     14160 non-null float64
Daily_WindDir      14160 non-null float64
Daily_WindSpeed    14160 non-null float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 2.6 MB

In [35]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [36]:
# show the number of rows and columns available
new_df.shape

(1093, 21)

In [37]:
# 
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 18:00:00,15.5,6,67,12.0,10.7,68,1006.1,33.0,2.2,...,2018-12-31,305.000000,599.363636,58.454545,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364
2019-01-01,2019-01-01 18:00:00,15.1,6,2,6.0,9.1,74,1009.8,1.0,2.5,...,2019-01-01,297.272727,538.636364,71.272727,15.000000,8.781818,66.181818,1009.609091,180.909091,1.300000
2019-01-02,2019-01-02 18:00:00,14.1,7,57,12.0,10.5,80,1007.7,359.0,2.5,...,2019-01-02,285.818182,467.363636,93.545455,14.045455,9.809091,73.272727,1008.954545,189.636364,1.145455
2019-01-03,2019-01-03 18:00:00,14.2,7,78,14.0,7.8,69,1004.9,25.0,3.4,...,2019-01-03,315.545455,646.181818,51.727273,13.509091,8.109091,72.909091,1005.318182,51.272727,2.763636
2019-01-04,2019-01-04 18:00:00,14.1,7,91,15.0,7.1,75,1006.6,42.0,3.1,...,2019-01-04,319.454545,659.272727,49.545455,13.836364,7.236364,70.363636,1006.436364,56.000000,2.027273
2019-01-05,2019-01-05 18:00:00,14.4,7,99,16.0,6.7,66,1009.2,32.0,3.0,...,2019-01-05,322.090909,674.818182,47.090909,14.227273,7.072727,63.363636,1009.736364,59.090909,1.727273
2019-01-06,2019-01-06 18:00:00,14.1,8,96,16.0,5.9,72,1008.9,13.0,2.8,...,2019-01-06,324.545455,656.545455,51.272727,13.881818,5.672727,64.636364,1009.454545,64.545455,1.454545
2019-01-07,2019-01-07 18:00:00,13.8,8,110,18.0,6.3,71,1006.9,14.0,2.8,...,2019-01-07,326.090909,677.090909,48.545455,13.245455,6.254545,67.272727,1007.690909,48.272727,1.636364
2019-01-08,2019-01-08 18:00:00,13.2,8,109,18.0,6.4,64,1004.4,33.0,3.7,...,2019-01-08,330.000000,687.636364,47.636364,12.909091,5.681818,62.272727,1005.536364,50.909091,3.009091
2019-01-09,2019-01-09 18:00:00,13.6,9,96,18.0,10.2,75,1000.7,348.0,2.8,...,2019-01-09,322.454545,653.181818,52.000000,13.363636,9.054545,66.636364,1002.363636,231.272727,1.418182

In [38]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [39]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [40]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,14.654545,11.209091,67.363636,1005.754545,87.090909,1.936364,599.363636,58.454545,305.000000
2019-01-01,1,2019-01-01,15.000000,8.781818,66.181818,1009.609091,180.909091,1.300000,538.636364,71.272727,297.272727
2019-01-02,1,2019-01-02,14.045455,9.809091,73.272727,1008.954545,189.636364,1.145455,467.363636,93.545455,285.818182
2019-01-03,1,2019-01-03,13.509091,8.109091,72.909091,1005.318182,51.272727,2.763636,646.181818,51.727273,315.545455
2019-01-04,1,2019-01-04,13.836364,7.236364,70.363636,1006.436364,56.000000,2.027273,659.272727,49.545455,319.454545

In [41]:
# show the number of rows and column
final_df.shape

(1093, 11)

In [42]:
# save cleaned dataset
final_df.to_csv('~/Desktop/OmdenaMLops/A4_Solar_Energy_Project/Data/Cleaned_Casablanca_Morocco_Solcast_PT60M.csv')